# Student Data
This Notebook analyzes Pass Fail Data for a class

In [7]:
data = [50, 47, 97, 49, 49, 3, 53, 42, 26, 74, 84, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]

In [8]:
import numpy as np
grades = np.array(data)
print(data*2)
print("Grades:", grades)
print(grades*2)
print("Mean:", np.mean(grades))
print("Median:", np.median(grades))
print("Standard Deviation:", np.std(grades))

[50, 47, 97, 49, 49, 3, 53, 42, 26, 74, 84, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64, 50, 47, 97, 49, 49, 3, 53, 42, 26, 74, 84, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]
Grades: [50 47 97 49 49  3 53 42 26 74 84 62 37 15 70 27 36 35 48 52 63 64]
[100  94 194  98  98   6 106  84  52 148 168 124  74  30 140  54  72  70
  96 104 126 128]
Mean: 49.22727272727273
Median: 49.0
Standard Deviation: 21.381665506566854

In [9]:
grades.shape

(22,)

In [10]:
grades[0]  # Accessing the first element of the grades array

np.int64(50)

In [11]:
study_hours = [10.0,11.5,9.0,16.0,9.25,1.0,11.5,9.0,8.5,14.5,15.5,13.75,9.0,8.0,15.5,8.0,9.0,6.0,10.0,12.0,12.5,12.0]
student_data = np.array([study_hours, grades])

In [12]:
student_data[0]
student_data[1][0]

np.float64(50.0)

In [13]:
avg_study = student_data[0].mean()
avg_grade = student_data[1].mean()
print(f"Average Study Time: {avg_study}\nAverage Grade: {avg_grade}")

Average Study Time: 10.522727272727273
Average Grade: 49.22727272727273

In [14]:
import pandas as pd

df_students = pd.DataFrame({'name': ['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic', 'Jimmie', 
                                     'Rhonda','Giovanni', 'Francesca','Rajab','Naiyana','Kian','Jenny',
                                     'Jakeem','Helena','Ismat','Anila','Skye','Daniele','Aisha'],
                                     'study_hours': student_data[0], 'grades': student_data[1]})

In [ ]:
df_students.loc[5, 'grades']
df_students.loc[5, 'study_hours']
df_students.loc[5]

name           Vicky
study_hours      1.0
grades           3.0
Name: 5, dtype: object

In [23]:
df_students.loc[df_students['name']=='Vicky']

    name  study_hours  grades
5  Vicky          1.0     3.0

In [24]:
df_students.query('name == "Vicky"')

    name  study_hours  grades
5  Vicky          1.0     3.0

In [25]:
df_students[df_students.name == 'Vicky']

    name  study_hours  grades
5  Vicky          1.0     3.0